*

!.gitignore
!readme.md
!Cargo.toml
!Cargo.lock

!/compiler/
!/compiler/src**
!/compiler/tests**
!/compiler/res**
!/compiler/build.rs
!/compiler/Cargo.lock
!/compiler/Cargo.toml

!/elf/
!/elf/src**
!/elf/tests**
!/elf/build.rs
!/elf/Cargo.lock
!/elf/Cargo.toml

!/clike_gui/
!/clike_gui/Cargo.lock
!/clike_gui/Cargo.toml
!/clike_gui/build.rs
!/clike_gui/src**
!/clike_gui/res**
!/clike_gui/docs**
!/clike_gui/build_web.bat
!/clike_gui/build_web.sh
!/clike_gui/check.sh
!/clike_gui/setup_web.bat
!/clike_gui/setup_web.sh
!/clike_gui/start_server.bat
!/clike_gui/start_server.sh
/clike_gui/docs/clike_gui.js
/clike_gui/docs/clike_gui_bg.wasm

!/mips_emulator/
!/mips_emulator/Cargo.lock
!/mips_emulator/Cargo.toml
!/mips_emulator/src**

!/assembler/
!/assembler/Cargo.lock
!/assembler/Cargo.toml
!/assembler/src**
!/assembler/res**

!util/
!util/Cargo.lock
!/util/Cargo.toml
!/util/src**
