*

!.gitignore
!readme.md
!Cargo.toml
!Cargo.lock
!rust-toolchain.toml
!verify.sh

!/compiler/
!/compiler/src**
!/compiler/tests**
!/compiler/res**
!/compiler/build.rs
!/compiler/Cargo.lock
!/compiler/Cargo.toml

!/elf/
!/elf/src**
!/elf/tests**
!/elf/build.rs
!/elf/Cargo.lock
!/elf/Cargo.toml

!/app/
!/app/Cargo.lock
!/app/Cargo.toml
!/app/build.rs
!/app/src**
!/app/res**
!/app/docs**
!/app/build_web.bat
!/app/build_web.sh
!/app/check.sh
!/app/setup_web.bat
!/app/setup_web.sh
!/app/start_server.bat
!/app/start_server.sh
/app/docs/app.js
/app/docs/app_bg.wasm

!/mips_emulator/
!/mips_emulator/Cargo.lock
!/mips_emulator/Cargo.toml
!/mips_emulator/src**

!/assembler/
!/assembler/Cargo.lock
!/assembler/Cargo.toml
!/assembler/src**
!/assembler/res**

!util/
!util/Cargo.lock
!/util/Cargo.toml
!/util/src**
